<!-- db left section -->

<section class="db-sectn">
	<%=render 'layouts/clinic_sidebar'%>
  <%=render 'layouts/clinic_client_sidebar'%>
	<div class="db-mid-3">
		<h3 class="db-headng text-center">JOHN DOE</h3>
		<div class="db-grid">
			<h3 class="db-headng ovr">Messaging</h3>
			<div class="msg-bg tab-width">
				<div class="profile-pic">
					<img src="/assets/profile-pic.jpg" alt="image">
				</div>
				<div class="msg-txt">
					<div class="msg-name">You</div>
					<div class="msg-time">14:00</div>
					<div class="db-txt">
						That's true
					</div>
				</div>
			</div>
			<div class="tab-width p-10">
				<div class="profile-pic">
					<img src="/assets/profile-pic-2.jpg" alt="image">
				</div>
				<div class="msg-txt">
					<div class="msg-name">Jessica Allba</div>
					<div class="msg-time">14:02</div>
					<div class="db-txt">
						That's great! Thank you very much.
					</div>
				</div>
			</div>
			<div class="msg-bg tab-width">
				<div class="profile-pic">
					<img src="/assets/profile-pic.jpg" alt="image">
				</div>
				<div class="msg-txt">
					<div class="msg-name">You</div>
					<div class="msg-time">14:04</div>
					<div class="db-txt">
						It might take 6-10 days to arrive in the UK , if you choose the option .Your package will be fully tracked.
					</div>
				</div>
			</div>
			<div class="tab-width p-10">
				<div class="profile-pic">
					<img src="/assets/profile-pic-2.jpg" alt="image">
				</div>
				<div class="msg-txt">
					<div class="msg-name">Jessica Allba</div>
					<div class="msg-time">14:06</div>
					<div class="db-txt">
						Ok Fine.Do you have those pink sneakers in size 8 ?
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 form-group">
					<textarea class="form-control form-control-h" rows="2" placeholder="Enter your message here"></textarea>
				</div>
				<div class="col-md-12 col-sm-12">
					<button class="g-btn-auto">
						SEND
					</button>
				</div>
			</div>	
		</div>
	</div>
	
</section>
	


<script>
	$(document).ready(function(){
	    $('#myTable').DataTable();
	});
</script>




