
	<!-- db left section -->

<section class="db-sectn">
  <%=render 'layouts/clinic_sidebar'%>
  <%=render 'layouts/clinic_client_sidebar'%>
	</div>
	<div class="db-mid-3">
		<h3 class="db-headng text-center">JOHN DOE</h3>
		<div class="db-grid">
			<h3 class="db-headng">Stretches</h3>
			<div class="d-flex justify-content-start flex-md-column flex-lg-row flex-xl-row">
				<div class="align-self-center">
					<div class="p-20">
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
					</div>
				</div>
				<div class="align-self-center pl-30 res-pad-20">
					<h3 class="db-heading-2">
						Dumbbell arm lateral raise
					</h3>
					<table class="rahab-list">
						<tbody>
							<tr>
								<td>
									<span class="db-txt">Sets</span>
								</td>
								<td>
									<span class="ca-txt">3 to 6 Steps</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Reps</span>
								</td>
								<td>
									<span class="ca-txt">3 to 6 Reps</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Description</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet, </span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Notes to client</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="align-self-center ml-auto">
					<button class="trns-btn-2" data-toggle="modal" data-target="#changeStretches">
						<img src="/assets/edit-2.png" alt="image">
						EDIT
					</button>
				</div>
			</div>
			<div class="d-flex justify-content-start mt-20 flex-md-column flex-lg-row flex-xl-row">
				<div class="align-self-center">
					<div class="p-20">
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
					</div>
				</div>
				<div class="align-self-center pl-30 res-pad-20">
					<h3 class="db-heading-2">
						Dumbbell arm lateral raise
					</h3>
					<table class="rahab-list">
						<tbody>
							<tr>
								<td>
									<span class="db-txt">Sets</span>
								</td>
								<td>
									<span class="ca-txt">3 to 6 Steps</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Reps</span>
								</td>
								<td>
									<span class="ca-txt">3 to 6 Reps</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Description</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet, </span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Notes to client</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="align-self-center ml-auto">
					<button class="trns-btn-2">
						<img src="/assets/edit-2.png" alt="image">
						EDIT
					</button>
				</div>
			</div>
			<div class="seprator"></div>
			<h3 class="db-headng">Exercises</h3>
			<div class="d-flex justify-content-start mt-20 flex-md-column flex-lg-row flex-xl-row">
				<div class="align-self-center">
					<div class="p-20">
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
					</div>
				</div>
				<div class="align-self-center pl-30 res-pad-20">
					<h3 class="db-heading-2">
						Dumbbell arm lateral raise
					</h3>
					<table class="rahab-list">
						<tbody>
							<tr>
								<td>
									<span class="db-txt">Sets</span>
								</td>
								<td>
									<span class="ca-txt">3 to 6 Steps</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Reps</span>
								</td>
								<td>
									<span class="ca-txt">3 to 6 Reps</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Description</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet, </span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Notes to client</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="align-self-center ml-auto">
					<button class="trns-btn-2">
						<img src="/assets/edit-2.png" alt="image">
						EDIT
					</button>
				</div>
			</div>
			<div class="seprator"></div>
			<h3 class="db-headng">Videos</h3>
			<div class="rehab-v-sectn">
				<ul>
					<li>
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
						<div class="v-captn text-center mt-10">
							<span class="db-txt">Video Name</span>
							<span class="ca-txt md-block">0:00</span>
						</div>
					</li>
					<li>
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
						<div class="v-captn text-center mt-10">
							<span class="db-txt">Video Name</span>
							<span class="ca-txt md-block">0:00</span>
						</div>
					</li>
					<li>
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
						<div class="v-captn text-center mt-10">
							<span class="db-txt">Video Name</span>
							<span class="ca-txt md-block">0:00</span>
						</div>
					</li>
					<li>
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
						<div class="v-captn text-center mt-10">
							<span class="db-txt">Video Name</span>
							<span class="ca-txt md-block">0:00</span>
						</div>
					</li>
					<li>
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
						<div class="v-captn text-center mt-10">
							<span class="db-txt">Video Name</span>
							<span class="ca-txt md-block">0:00</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="w-100 text-center mt-20">
			<button class="g-btn-auto" data-toggle="modal" data-target="#sessionComplete">
				SESSION COMPLETED
			</button>
		</div>
	</div>
	
</section>

<!-- edit stretches modal -->

<div class="modal fade" id="changeStretches" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
        <button type="button" class="close close-ab" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="/assets/close.png" alt="image"></span>
        </button>
      
	    <div class="modal-body">
	        <div class="ch-strtch">
	        	<ul>
	        		<li><span class="db-txt">Change Sets</span></li>
	        		<li>
	        			<select class="form-control">
	        				<option value="">Select(1-8)</option>
	        				<option value="">1</option>
	        				<option value="">2</option>
	        				<option value="">3</option>
	        				<option value="">4</option>
	        				<option value="">5</option>
	        				<option value="">6</option>
	        				<option value="">7</option>
	        				<option value="">8</option>
	        			</select>
	        		</li>
	        	</ul>
	        	<ul>
	        		<li><span class="db-txt">Change Reps</span></li>
	        		<li>
	        			<select class="form-control">
	        				<option value="">Select (3-25)</option>
	        				<option value="">1</option>
	        				<option value="">2</option>
	        				<option value="">3</option>
	        				<option value="">4</option>
	        				<option value="">5</option>
	        				<option value="">6</option>
	        				<option value="">7</option>
	        				<option value="">8</option>
	        				<option value="">9</option>
	        				<option value="">10</option>
	        				<option value="">11</option>
	        				<option value="">12</option>
	        				<option value="">13</option>
	        				<option value="">14</option>
	        				<option value="">15</option>
	        				<option value="">16</option>
	        				<option value="">17</option>
	        				<option value="">18</option>
	        				<option value="">19</option>
	        				<option value="">20</option>
	        				<option value="">21</option>
	        				<option value="">22</option>
	        				<option value="">23</option>
	        				<option value="">24</option>
	        				<option value="">25</option>
	        			</select>
	        		</li>
	        	</ul>
	        	<div class="w-100">
	        		<span class="db-txt">Note to client</span>
	        		<textarea class="form-control form-control-h" rows="3"></textarea>
	        	</div>
	        	<div class="w-100 text-center mt-20">
	        		<button class="g-btn-auto">SAVE</button>
	        	</div>
	        </div>
	    </div>
    </div>
  </div>
</div>

<!-- session complete modal -->

<div class="modal  fade" id="sessionComplete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
        <button type="button" class="close close-ab" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="/assets/close.png" alt="image"></span>
        </button>
      
	    <div class="modal-body">
	    	<div class="w-100 text-center">
	    		<span class="db-txt">Client session Recorded!</span>
	    	</div>
	    	<div class="w-100 text-center mt-20">
	    		<button class="g-btn-auto mr-10"  data-toggle="modal" data-target="#exampleModal">Print Rehab</button>
	    		<button class="g-btn-auto ml-10">Send Email</button>
	    	</div>
	    </div>
    </div>
  </div>
</div>

<div class="modal sc-modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
        <button type="button" class="close close-ab" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="/assets/close.png" alt="image"></span>
        </button>
      
	    <div class="modal-body">
	    	<div class="d-flex justify-content-between m-header">
	    		<div class="align-self-center">
	    			<img src="/assets/logo.png" alt="image">
	    		</div>
	    		<div class="align-self-center ml-auto">
	    			<img src="/assets/logo-2.png" alt="image">
	    		</div>
	    	</div>
	    	<div class="ses-date mt-20 text-center">
	    		<span class="ca-txt"><strong>11/10/2017 Sessions</strong></span>
	    	</div>
	        <div class="d-flex justify-content-start mt-20">
				<div class="align-self-center">
					<div class="p-20">
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
					</div>
				</div>
				<div class="align-self-center pl-30 res-pad-20">
					<h3 class="db-heading-2">
						Dumbbell arm lateral raise
					</h3>
					<table class="rahab-list">
						<tbody>
							<tr>
								<td>
									<span class="db-txt">Sets/Reps</span>
								</td>
								<td>
									<span class="ca-txt">3 to 6 Steps</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Description</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet, </span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Notes to client</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="d-flex justify-content-start mt-20">
				<div class="align-self-center">
					<div class="p-20">
						<div class="avatar">
							<img src="/assets/avatar.png" alt="image">
						</div>
					</div>
				</div>
				<div class="align-self-center pl-30 res-pad-20">
					<h3 class="db-heading-2">
						Dumbbell arm lateral raise
					</h3>
					<table class="rahab-list">
						<tbody>
							<tr>
								<td>
									<span class="db-txt">Sets/Reps</span>
								</td>
								<td>
									<span class="ca-txt">3 to 6 Steps</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Description</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet, </span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="db-txt">Notes to client</span>
								</td>
								<td>
									<span class="ca-txt">Lorem ipsum dolor sit amet</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	    </div>
    </div>
  </div>
</div>
	