<section class="db-sectn">
	<%=render 'layouts/clinic_sidebar'%>
	<%=render 'layouts/setting_sidebar'%>
	<div class="db-mid-3">
		<h3 class="db-headng text-center">JOHN DOE</h3>
		<div class="db-grid">
			<div class="d-flex justify-content-between flex-md-column flex-lg-row flex-xl-row db-tabbls">
				<div class="align-items-start w-40 pr-30 ac-right">
					<h3 class="db-headng ovr">Unread Messages</h3>
					<table cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th width="50%">Date</th>
								<th width="50%">Client Name</th>
							</tr>
						</thead>
					</table>
					<div class="mCustomScrollbar scroll-height" data-mcs-theme="inset-3">
						<table class="" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">John Smith</td>
							</tr>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">Rose Gold</td>
							</tr>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">Jony Seed</td>
							</tr>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">Tailor Swift</td>
							</tr>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">Jeny Maps</td>
							</tr>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">John Smith</td>
							</tr>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">Rose Gold</td>
							</tr>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">Jony Seed</td>
							</tr>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">Tailor Swift</td>
							</tr>
							<tr>
								<td width="50%" class="db-txt">11/10/2017</td>
								<td width="50%" class="g-color">Jeny Maps</td>
							</tr>
						</tbody>
						</table>
					</div>
					<div class="mt-20">
					    <div class="onoffswitch">
					        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
					        <label class="onoffswitch-label" for="myonoffswitch">
					            <span class="onoffswitch-inner"></span>
					            <span class="onoffswitch-switch"></span>
					        </label>
					    </div>
					</div>
				</div>
				<div class="align-items-start w-60 ac-right">
					<h3 class="db-headng ovr">Redeemed Rewards</h3>
					<table cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th width="33.33%">Date</th>
								<th width="33.33%">Client Name</th>
								<th width="33.33%">Reward</th>
							</tr>
						</thead>
					</table>
					<div class="mCustomScrollbar scroll-height" data-mcs-theme="inset-3">
						<table class="" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">John Smith</td>
								<td width="33.33%" class="g-color">Bronze Star</td>
							</tr>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">Rose Gold</td>
								<td width="33.33%" class="g-color">Emrald Gem</td>
							</tr>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">Jonny Seed</td>
								<td width="33.33%" class="g-color">Gold Star</td>
							</tr>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">Tailor Swift</td>
								<td width="33.33%" class="g-color">Ruby Jam</td>
							</tr>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">Jenny Maps</td>
								<td width="33.33%" class="g-color">Gold Star</td>
							</tr>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">John Smith</td>
								<td width="33.33%" class="g-color">Bronze Star</td>
							</tr>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">Rose Gold</td>
								<td width="33.33%" class="g-color">Emrald Gem</td>
							</tr>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">Jonny Seed</td>
								<td width="33.33%" class="g-color">Gold Star</td>
							</tr>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">Tailor Swift</td>
								<td width="33.33%" class="g-color">Ruby Jam</td>
							</tr>
							<tr>
								<td width="33.33%" class="db-txt">11/10/2017</td>
								<td width="33.33%" class="g-color">Jonny Seed</td>
								<td width="33.33%" class="g-color">Jenny Maps</td>
							</tr>
						</tbody>
						</table>
					</div>
					<div class="mt-20 d-flex row">
						<div class="col-sm-3 col-lg-3">
							<button class="g-btn">Excel</button>
						</div>
						<div class="col-sm-3 col-lg-3">
							<button class="g-btn">Print</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h3 class="db-headng text-center mt-40"><strong>Rehab Portal</strong></h3>
		<div class="cs-ac-tab mt-40">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" aria-expanded="true">Stretches</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" aria-expanded="false">Exercises</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Video</a>
			  </li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane  active show" id="home" role="tabpanel" aria-labelledby="home-tab" aria-expanded="true">
			  		<div class="cs-tab-contnt">
			  			<div class="rehab-v-sectn">
							<ul>
							<li>
								<div class="avatar">
									<img src="/assets/avatar.png" alt="image">
								</div>
								<div class="v-captn text-center mt-10">
									<span class="db-txt">Dumbbell arm lateral raise</span>
									<span class="md-block mt-10">
										<button class="trns-btn-2" data-toggle="modal" data-target="#editVideo">
											<img src="/assets/edit-2.png" alt="image">
											EDIT
										</button>
									</span>
								</div>
							</li>
							<li>
								<div class="avatar">
									<img src="/assets/avatar.png" alt="image">
								</div>
								<div class="v-captn text-center mt-10">
									<span class="db-txt">Dumbbell arm lateral raise</span>
									<span class="md-block mt-10">
										<button class="trns-btn-2" data-toggle="modal" data-target="#editVideo">
											<img src="/assets/edit-2.png" alt="image">
											EDIT
										</button>
									</span>
								</div>
							</li>
							<li>
								<div class="avatar">
									<img src="/assets/avatar.png" alt="image">
								</div>
								<div class="v-captn text-center mt-10">
									<span class="db-txt">Dumbbell arm lateral raise</span>
									<span class="md-block mt-10">
										<button class="trns-btn-2" data-toggle="modal" data-target="#editVideo">
											<img src="/assets/edit-2.png" alt="image">
											EDIT
										</button>
									</span>
								</div>
							</li>
							<li>
								<div class="avatar">
									<img src="/assets/avatar.png" alt="image">
								</div>
								<div class="v-captn text-center mt-10">
									<span class="db-txt">Dumbbell arm lateral raise</span>
									<span class="md-block mt-10">
										<button class="trns-btn-2" data-toggle="modal" data-target="#editVideo">
											<img src="/assets/edit-2.png" alt="image">
											EDIT
										</button>
									</span>
								</div>
							</li>
							<li>
								<div class="avatar">
									<img src="/assets/avatar.png" alt="image">
								</div>
								<div class="v-captn text-center mt-10">
									<span class="db-txt">Dumbbell arm lateral raise</span>
									<span class="md-block mt-10">
										<button class="trns-btn-2" data-toggle="modal" data-target="#editVideo">
											<img src="/assets/edit-2.png" alt="image">
											EDIT
										</button>
									</span>
								</div>
							</li>
							</ul>
						</div>
			  		</div>
			  	</div>
				<div class="tab-pane " id="profile" role="tabpanel" aria-labelledby="profile-tab" aria-expanded="false">
					<div class="cs-tab-contnt">
						Exercises
					</div>
				</div>
				<div class="tab-pane " id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div class="cs-tab-contnt">
						Video
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>


<!-- edit video modal -->

<div class="modal fade" id="editVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered add-dash-dialog" role="document">
    <div class="modal-content">
      
        <button type="button" class="close close-ab" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="/assets/close.png" alt="image"></span>
        </button>
      
	    <div class="modal-body">
	    	<div class="d-flex justify-content-start">
	    		<div class="align-items-start w-40 pr-30">
	    			<div class="avatar">
						<img src="/assets/avatar.png" alt="image">
					</div>
					<div class="mt-20 hide-btn">
						<button class="g-btn" type="submit">
							Change Thumbnail
						</button>
						<button class="g-btn mt-10" type="submit">
							Change Video URL
						</button>
						<button class="r-btn mt-10" type="submit">
							Delete Rehab
						</button>
					</div>
	    		</div>
	    		<div class="align-items-start w-60">
			        <div class="ch-strtch db-strtch">
			        	<div class="form-group">
			        		<input type="text" class="form-control" placeholder="Dumbbell arm lateral raise">
			        	</div>
			        	<ul>
			        		<li><span class="db-txt">Sets</span></li>
			        		<li>
			        			<select class="form-control">
			        				<option value="">Select(1-8)</option>
			        				<option value="">1</option>
			        				<option value="">2</option>
			        				<option value="">3</option>
			        				<option value="">4</option>
			        				<option value="">5</option>
			        				<option value="">6</option>
			        				<option value="">7</option>
			        				<option value="">8</option>
			        			</select>
			        		</li>
			        	</ul>
			        	<ul>
			        		<li><span class="db-txt">Reps</span></li>
			        		<li>
			        			<select class="form-control">
			        				<option value="">Select (3-25)</option>
			        				<option value="">1</option>
			        				<option value="">2</option>
			        				<option value="">3</option>
			        				<option value="">4</option>
			        				<option value="">5</option>
			        				<option value="">6</option>
			        				<option value="">7</option>
			        				<option value="">8</option>
			        				<option value="">9</option>
			        				<option value="">10</option>
			        				<option value="">11</option>
			        				<option value="">12</option>
			        				<option value="">13</option>
			        				<option value="">14</option>
			        				<option value="">15</option>
			        				<option value="">16</option>
			        				<option value="">17</option>
			        				<option value="">18</option>
			        				<option value="">19</option>
			        				<option value="">20</option>
			        				<option value="">21</option>
			        				<option value="">22</option>
			        				<option value="">23</option>
			        				<option value="">24</option>
			        				<option value="">25</option>
			        			</select>
			        		</li>
			        	</ul>
			        	<div class="w-100">
			        		<span class="db-txt">Description</span>
			        		<textarea class="form-control form-control-h" rows="3"></textarea>
			        	</div>
			        	<div class="w-100 mt-20">
			        		<div class="d-flex row">
			        			<div class="col-md-4 col-lg-4">
				        			<button class="g-btn change_btn">Change</button>
				        		</div>
				        		<div class="col-md-8 col-lg-8">
				        			<button class="g-btn">Revert back to original</button>
				        		</div>
				        	</div>
			        	</div>
			        </div>
			    </div>
		    </div>
	    </div>
    </div>
  </div>
</div>
<script>
	
</script>

<script>
	$(".change_btn").click(function(){
		$(".hide-btn").addClass("show-btn")
	});
</script>