<%binding.pry%>
<div class="modal  fade" id="addVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered add-vid-dialog" role="document">
	    <div class="modal-content">
	      
	        <button type="button" class="close close-ab" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true"><img src="/assets/close.png" alt="image"></span>
	        </button>
	      
		    <div class="modal-body">
		    	<div class="approv-img text-center">
		    		<img src="/assets/approv.png" alt="image">
		    	</div>
		    	<div class="mt-20 text-center">
		    		<span class="g-color">
		    			Congrats, your clinic video has been added!
		    		</span>
		    	</div>
		    	<div class="mt-10 text-center">
		    		<span class="db-txt">
		    			Would you like to submit this for approval to the community videos, or keep for your internal clinic use only?
		    		</span>
		    	</div>
		    	<div class="mt-20">
		    		<div class="row d-flex">
		    			<div class="col-md-6 col-lg-6">
		    				<button class="g-btn-auto" type="submit">
		    					Yes, Please Submit for Approval 
		    				</button>
		    			</div>
		    			<div class="col-md-6 col-lg-6">
		    				<button class="r-btn-auto" type="submit">
		    					No Thanks, Please keep internal
		    				</button>
		    			</div>
		    		</div>
		    	</div>
		    </div>
	    </div>
	  </div>
	</div>