<div class="db-left mCustomScrollbar" data-mcs-theme="light-thick">
	<ul>
		<li>
			<a href="/clinic/users/home">
				<img src="/assets/db-icon-1.png" alt="image" class="show">
				<img src="/assets/db-icon-1-hover.png" alt="image" class="hide">
				<span class="md-block">Home</span>
			</a>
		</li>
		<li class="active">
			<a href="/clinic/clients">
				<img src="/assets/db-icon-2.png" alt="image" class="show">
				<img src="/assets/db-icon-2-hover.png" alt="image" class="hide">
				<span class="md-block">Clients</span>
			</a>
		</li>
		<li>
			<a href="/clinic/settings/dashboard">
				<img src="/assets/db-icon-3.png" alt="image" class="show">
				<img src="/assets/db-icon-3-hover.png" alt="image" class="hide">
				<span class="md-block">Settings</span>
			</a>
		</li>
		<li>
			<a href="/clinic/accounts">
				<img src="/assets/db-icon-4.png" alt="image" class="show">
				<img src="/assets/db-icon-4-hover.png" alt="image" class="hide">
				<span class="md-block">Account</span>
			</a>
		</li>
		<li>
			<a href="/clinic/community">
				<img src="/assets/db-icon-9.png" alt="image" class="show">
				<img src="/assets/db-icon-9-hover.png" alt="image" class="hide">
				<span class="md-block">Community</span>
			</a>
		</li>
	</ul>
</div>