<div class="db-left-2 mCustomScrollbar" data-mcs-theme="inset-3">
	<ul>
		<li>
			<a href="/clinic/clients/rehab">
				<span class="dl2-icon1">
					<img src="/assets/db-icon-5.png" alt="image" class="show">
					<img src="/assets/db-icon-5-hover.png" alt="image" class="hide">
				</span>
				<span class="md-block db-txt mt-10">Rehab</span>
			</a>
		</li>
		<li class="active">
			<a href="/clinic/clients/change">
				<span class="dl2-icon1 dl2-icon1-ovr">
					<img src="/assets/db-icon-6.png" alt="image" class="show">
					<img src="/assets/db-icon-6-hover.png" alt="image" class="hide">
				</span>
				<span class="md-block db-txt-2 mt-10">Change</span>
			</a>
		</li>
		<li>
			<a href="/clinic/clients/messages">
				<span class="dl2-icon1 dl2-icon1-ovr-2">
					<img src="/assets/db-icon-7.png" alt="image" class="show">
					<img src="/assets/db-icon-7-hover.png" alt="image" class="hide">
				</span>
				<span class="md-block db-txt-3 mt-10">Messages</span>
			</a>
		</li>
		<li>
			<a href="/clinic/clients/stats">
				<span class="dl2-icon1 dl2-icon1-ovr-3">
					<img src="/assets/db-icon-8.png" alt="image" class="show">
					<img src="/assets/db-icon-8-hover.png" alt="image" class="hide">
				</span>
				<span class="md-block db-txt-4 mt-10">Stats</span>
			</a>
		</li>
	</ul>
</div>