<div class="db-left-2">
			<ul>
				<li class="active">
					<a href="/clinic/settings/dashboard">
						<span class="dl2-icon1 p-control">
							<img src="/assets/db-icon-10.png" alt="image" class="show">
							<img src="/assets/db-icon-10-hover.png" alt="image" class="hide">
						</span>
						<span class="md-block db-txt mt-10">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="/clinic/settings/videos">
						<span class="dl2-icon1 dl2-icon1-ovr p-control-2">
							<img src="/assets/db-icon-11.png" alt="image" class="show">
							<img src="/assets/db-icon-11-hover.png" alt="image" class="hide">
						</span>
						<span class="md-block db-txt-2 mt-10">Add Videos</span>
					</a>
				</li>
				<li>
					<a href="/clinic/settings/manage_rewards">
						<span class="dl2-icon1 dl2-icon1-ovr-2 p-control-2">
							<img src="/assets/db-icon-12.png" alt="image" class="show">
							<img src="/assets/db-icon-12-hover.png" alt="image" class="hide">
						</span>
						<span class="md-block db-txt-3 mt-10">Manage Rewards</span>
					</a>
				</li>
			</ul>
		</div>